#aside {
    height: 1000px;
    width: 23%;
    background-color: rgb(255, 126, 195);
    float: left;
}

#section {
    height: 1000px;
    width: 75%;
    background-color: rgb(149, 255, 213);
    float: right;
}

#h1 {
    text-align: center;
}

#z {
    float: right;
    margin: 30px;
}

#e {
    float: inline-start;
    margin: 30px;
}

#school {
    text-align: center;
}

#o {
    margin: 50px;
    text-align: center;
}

/*選單*/
.menu li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    background-color: rgb(122, 153, 141);
    border-radius: 10px;
    text-align: center;
    margin: 25px;
}

.menu a {
    display: inline-block;
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
}

.menu a:hover {
    background: rgb(255, 126, 195);
    ;
    color: #dcc99f;
}

.omg li {
    list-style-type: none;
    display: inline-block;
    width: 130px;
    background-color: rgb(255, 126, 195);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.omg a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
}

.omg a:hover {
    background: rgb(149, 255, 213);
    ;
    color: #dcc99f;
    margin: 10px;
}